
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Pacifico&display=swap");



.coffe-list{
    background-image: url("img/background.jpg");
    background-size : cover;
}

.coffee-item {
    background-color: rgba(0, 0, 0, .7);  
    border-radius:calc(75px / 2);
    margin: 10% 0;
    cursor:pointer;
}
.coffee-item: hover{
  background-color: rgba(50, 50, 50, .7);    
}

.coffee-item img {
    width: 5rem;
    background-color: white;
    border-radius: 50%;
    
}

.coffee-item span {
    color: white;
    margin-left: 8%;
    font-family: "Oswald";
    font-family: "Pacifico";
    letter-spacing: 5px;
    font-size: 20px;
}
/*.font {
    font-family: 'Oswald', sans-serif;
    font-family: 'Pacifico', cursive;
    
}
*/
.coffe-oper {
    background-color:rgb(220, 220, 220);
    padding:3%;
}

.display {
    border: 2px solid darkgreen;
     background-color:#ccbcaf;
     letter-spacing: 5px;
     font-size: 1rem;
     padding:5%;
     border-radius:5px;
}

.display span {
  margin-left:5%;
  font-family:"Oswald";
}

.progress-bar {
   transition:none; 
    
}




.cup img {
    display: none;
    opacity:0;
    width: 100%;
    margin-top:3%;
}

.atm-2 img {
    width:100%
}

.change-box{
    border:3px solid gray;
    min-height: 100px;
    box-sizing: border-box;
    background-color: rgb(200, 200, 200);
    border-radius:5px;
}

.progress-bar {
    background-color: #654321;
}
.btn-primary{
  background-color: #654321;  
}


.btn-primary:hover,

.btn-primary:focus,

.btn-primary:visited {

background-color: #654321;

color: white;
}
.btn-primary.focus,.btn-primary:focus {
background-color: #654321;  
}
.btn-primary:visited {

background-color: #654321;
}
.btn-primary:hover{
 background-color: #745537!important;   
}
.btn {
  background-color: #654321;  
}


